:root {
  --background-color: #fff6de;
  --text-color: black;

  --header-bg-color: #f5ba13;
  --header-text-color: #fff;

  --note-bg-color: #fff;
  --note-shadow-color: #ccc;

  --create-note-bg-color: #fff;
  --create-note-shadow-color: rgb(138, 137, 137);

  --primary-color: #f5ba13;
  --primary-muted-color: #fbdf90;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #f5f5f5;

  --header-bg-color: #333;
  --header-text-color: #f5ba13;

  --note-bg-color: #333;
  --note-shadow-color: #000;

  --create-note-bg-color: #444;
  --create-note-shadow-color: #000;

  --primary-color: #f5ba13;
  --primary-muted-color: #fbdf90;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
  background-color: var(--header-bg-color);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between elements */
}

header h1 {
  color: var(--header-text-color);
  font-family: "McLaren", cursive;
  font-weight: 200;
  flex-grow: 1;
}

.keeper-title {
  color: var(--primary-color);
  font-family: "McLaren", cursive;
  font-weight: 200;
  flex-grow: 1;
}
.register-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--header-text-color);
  font-size: 1.5rem;
  outline: none;
}

.dark-mode-button svg {
  vertical-align: middle;
}
.custom-hyperlink {
  width: 100%;
  text-align: right;
  padding: 5px;
}

.custom-hyperlink a {
  color: var(--primary-color);
}
footer {
  padding-top: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--footer-text-color);
}
.note {
  background: var(--note-bg-color);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--note-shadow-color);
  padding: 10px;
  width: 240px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .titleInput {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  background: none;
  outline: none;
  border: none;
  color: var(--text-color);
}
.note .contentInput {
  font-size: 1em;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: none;
  outline: none;
  border: none;
  color: var(--text-color);
  width: 100%; /* Ensure it takes full width of the container */
  resize: vertical; /* Allow vertical resizing */
  overflow: auto; /* Handle overflowing content */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.note .deleteButton {
  background: none;
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--primary-color);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.note .editButton {
  background: none;
  position: relative;
  float: left;
  margin-right: 10px;
  color: var(--primary-color);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.note .saveButton {
  background: none;
  position: relative;
  float: left;
  margin-right: 10px;
  color: var(--primary-color);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--create-note-bg-color);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px var(--create-note-shadow-color);
}
form.create-note input[type="text"],
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;

  background-color: var(--create-note-bg-color);
  color: var(--text-color);
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
form.create-note button:hover {
  background: var(--primary-muted-color);
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .note {
    width: 480px;
  }
  form.create-note {
    max-width: 100%;
  }
}

.centered-notes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.register-form {
  width: 100%;
  background: var(--note-bg-color);
  box-shadow: 0 1px 5px var(--create-note-shadow-color);
  padding: 70px 30px 100px 30px;
  color: var(--text-color);
  border-radius: 10px;
}

.register-form button {
  background-color: var(--primary-color);
  color: black;
}
.register-form button:hover {
  background: var(--primary-muted-color);
  color: black;
}

.register-form label,
.register-form input {
  color: var(--text-color);
}

.custom-textfield
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #f5ba13; /* Custom outline color */
}

.custom-textfield .MuiInputLabel-root {
  color: #f5ba13; /* Custom label color */
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
  color: #f5ba13; /* Custom label color when focused */
}

.login-register-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  max-height: 1000px;
  min-height: 500px;
}

.login-register-container {
  width: 600px;
  min-width: 300px;
}

/* xs */
@media screen and (max-width: 639px) {
  .login-register-container {
    width: 90%;
  }
}

/* sm */
@media screen and (min-width: 640px) and (max-width: 767px) {
  .login-register-container {
    width: 90%;
  }
}

/* md */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login-register-container {
    width: 600px;
  }
}

/* lg */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .login-register-container {
    width: 600px;
  }
}

/* xl */
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .login-register-container {
    width: 600px;
  }
}

/* 2xl */
@media screen and (min-width: 1536px) {
  .login-register-container {
    width: 600px;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  text-decoration: line-through;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-list-item .drag-handle {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.checkbox-list-item:hover .drag-handle {
  opacity: 1;
}
