/* Global CSS Variables */
:root {
  --outer-circle-bg: var(--note-bg-color);
  --inner-circle-bg: var(--note-shadow-color);
  --default-text-color: var(--text-color);

  --selected-outer-circle-bg: var(--primary-color);
  --selected-inner-circle-bg: var(--primary-muted-color);
  --selected-text-color: var(--dark-gray);

  --today-outer-circle-bg: var(--note-bg-color);
  --today-inner-circle-bg: var(--note-bg-color);
  --today-text-color: var(--text-color);

  --hover-outer-circle-bg: var(--dark-gray);
  --hover-inner-circle-bg: var(--light-gray);
  --hover-text-color: white;
}

[data-theme="dark"] {
  --selected-text-color: var(--dark-gray);

  --hover-outer-circle-bg: #ccc;
  --hover-inner-circle-bg: white;
  --hover-text-color: black;
}

/* Horizontal Date Picker Container */
.horizontal-date-picker {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

/* Month and Year Selector */
.month-year-selector-container {
  display: flex;
  align-items: baseline;
  padding-top: 10px;
}

.month-select {
  font-size: 2em;
  font-weight: bold;
}

.year-select {
  font-size: 1.5em;
}

.month-select,
.year-select {
  background-color: transparent;
  color: var(--default-text-color);
  border: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
}

.month-select > option,
.year-select > option {
  background-color: var(--outer-circle-bg);
  color: var(--default-text-color);
  font-size: 1em;
}

.dot-seperator {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  color: transparent;
  background-color: var(--default-text-color);
  text-align: center;
}

/* Days Container */
.days-in-month {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding: 10px 0px;
}

.days-in-month::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.days-in-month {
  overflow-y: scroll; /* Allow vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Day Styling */
.day {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--inner-circle-bg);
  text-align: center;
  border-radius: 25px;
  min-width: 50px;
  min-height: 70px;
}

.day p,
.date-text {
  padding: 0px;
  margin: 0px;
  text-transform: lowercase;
}

.day > p.day-of-week {
  padding-top: 10px;
  padding-bottom: 5px;
}

.date-outer-circle {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  padding: 2px;
  background-color: var(--outer-circle-bg);
  /* code for progress bar */
  /* background: conic-gradient(
    var(--primary-color) 0% 75%,
    var(--primary-muted-color) 75% 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;

  box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.2);
}

p.date-text {
  background-color: var(--outer-circle-bg);
  min-width: 47px;
  min-height: 47px;
  max-width: 47px;
  max-height: 47px;
  font-size: 1em;
  line-height: 47px;
  text-align: center;
  margin: 0px;
  border-radius: 25px;
}

/* Day States */
.day.today {
  background-color: var(--today-outer-circle-bg);
  color: var(--today-text-color);
}

.day.today > .date-text {
  text-decoration: underline;
}

.day.selected {
  background-color: var(--selected-inner-circle-bg);
  color: var(--selected-text-color);
}

.day:hover {
  background-color: var(--hover-outer-circle-bg);
  color: var(--hover-text-color);
}

.day:hover .date-text,
.day:hover .date-outer-circle {
  background-color: var(--hover-inner-circle-bg);
  color: var(--hover-text-color);
}

.day.selected p.date-text,
.day.selected .date-outer-circle {
  background-color: var(--selected-outer-circle-bg);
  border-color: var(--selected-outer-circle-bg);
}

.days-navigation {
  display: flex;
  justify-content: space-between;
}

/* Day Select Scroller */
.scroll-arrow {
  background-color: transparent;
  color: var(--default-text-color);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.scroll-arrow:hover {
  color: var(--outer-circle-bg);
}

.days-in-month {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 16px;
  flex-grow: 1;
  scroll-behavior: smooth;
  margin: auto -16px;
}

.days-in-month::-webkit-scrollbar {
  display: none;
}
