/*Stlye from
 https://getcssscan.com/css-checkboxes-examples 
#13 by Aaron iker*/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  ul[data-type="taskList"] input[type="checkbox"] {
    --active: var(--primary-color);
    --active-inner: #fff;
    --border: var(--text-color);
    --background: var(--note-bg-color);
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    --b: var(--badge-bg-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 3px solid var(--b, var(--background));
    background: transparent;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  ul[data-type="taskList"] input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  ul[data-type="taskList"] input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    border: 0;
    background: var(--b, var(--background));
  }
  ul[data-type="taskList"] input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  ul[data-type="taskList"] input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  ul[data-type="taskList"] input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  ul[data-type="taskList"] input[type="checkbox"]:not(.switch) {
    width: 20px;
  }
  ul[data-type="taskList"] input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  ul[data-type="taskList"] input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  ul[data-type="taskList"] input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  ul[data-type="taskList"] input[type="checkbox"]:not(.switch) {
    border-radius: 17px;
  }
  ul[data-type="taskList"] input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 8px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  ul[data-type="taskList"] input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

ul[data-type="taskList"] * {
  box-sizing: inherit;
}
ul[data-type="taskList"] *:before,
ul[data-type="taskList"] *:after {
  box-sizing: inherit;
}
