div.sectioned-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}

div.sectioned-div > div.section-title {
  display: flex;
  gap: 8px;
  padding: 0;
  flex: 1;
  align-items: center;
  min-width: 0;
}

div.sectioned-div > div.section-title > p.section-badge {
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  font-size: 0.8em;
  font-weight: bold;
  font-family: "Gilroy-Medium", Arial, sans-serif;
  line-height: 1;
}
